/*CSS reset*/
*{
    margin: 0;
    padding: 0;
}

/*CSS Variables*/

:root{
    --navbar-height: 59px;
}

/* Navigation bar*/
#navbar{
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}

/* Navigation bar: logo and image*/
#logo{
     margin: 2px 2px;
}

#logo img{
      height: 80px;
      margin: 3px 3px;
}

/* Navigation bar: list styling*/

#navbar{
    position: relative;
    top: 0px;
}
#navbar ul{
    display: flex;
    font-family: 'IM Fell English SC', serif;
}


#navbar ul li{
    
    list-style: none;
    font-size: 1rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 20px;
    border-radius: 20px;
    text-decoration: none;

}

#navbar ul li a:hover{
    color: black;
    background-color: white;
    
}

/*Home section*/
#home{
    display: flex;
    flex-direction: column;
    padding:3px 200px;
    height: 230px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    background: url('../img/bg2.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 60%;
    width: 100%;
    z-index: -1;
    opacity:0.89;  
    
}
#home h1{
    color:white;
    text-align: center;
    font-family: 'IM Fell English SC', serif;
}
#home p{
    color:white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'IM Fell English SC', serif;
}
/*services section*/
#services{
    margin: 90px;
    display: flex;
}
#services .box{
    border: 2px solid brown;
    padding: 10px;
    margin: 52px 8px;
    border-radius: 25px;
    background-color: rgb(243, 240, 237);
}
#services .box img{
    height: 160px;
    margin: auto;
    display: block;
}
#services .box p{
    font-family: 'IM Fell English SC', serif;

}
#services{}
#services{}

/*client section*/
#client-section{
height: 40px;
}
#client-section{
    display: flex;
    justify-content: center;
    align-content: center;
}
#client-section img{
    height: 124;
    
}

/*utility classes*/
.h-primary{
    font-family: 'IM Fell English SC', serif;
   font-size: 2.8rem; 
   padding: 12px;
   
}
.h-secondary{
    font-family: 'IM Fell English SC', serif;
   font-size: 2rem; 
   padding: 12px;
}

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: rgb(137, 23, 3);
    color: white;
    margin: 17px;
    font-size: 1rem;
    border-radius: 10px;
    cursor:pointer;
}
.center{
    text-align: center;
}